<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @evaluation.user.username%>
</p>

<p>
  <strong>Evaluation Name:</strong>
  <%= @evaluation.name %>
</p>

<p>
    <strong>QUALIS Evaluations:</strong> <br>
<% @evaluation.qualis_evaluate_journals.each do |qej| %>
  <%= link_to "QUALIS "+qej.target_qualis+"("+qej.profile.citation+")", evaluation_qualis_evaluate_journal_path(@evaluation, qej) %><br>
<% end %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
