<%= form_for([@folder, @folder_infohash]) do |f| %>
  <% if @folder_infohash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder_infohash.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @folder_infohash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Item" %><br>
    <% items  = Infohash.joins(:infohash_users).where("infohash_users.user_id = ?", current_user.id) %>
    <% items += Infohash.where(:user_id => current_user.id) %>
    <% items.uniq! %>
    <%= f.select :infohash_id, options_for_select(items.map{|i|[i.htype_id.to_s+": "+i.gtitle, i.id]} ) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
