<%= form_for(@gfile) do |f| %>

  <h2>General information</h2>
  <% if @infohash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infohash.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @infohash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :visibility %><br />
    <%= f.select :visibility_id, options_for_select(Visibility.all.map{|p|[p.vtype, p.id]}, :visibility_id) %>
  </div>
  
  <div class="field">
    <%= f.label "General title (allows #hashtags)" %><br>
    <%= f.text_field(:gtitle) %>
  </div>

  <div class="field">
    <%= f.label "General description (allows #hashtags)" %><br>
    <%= f.text_area :gdescription %>
  </div>

  <h2>File information</h2>


  <% if @gfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gfile.errors.count, "error") %> prohibited this gfile from being saved:</h2>

      <ul>
      <% @gfile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>(*) Mandatory fields</p>

  <div class="field">
    <%= f.label "File (*)" %><br>
    <%= f.file_field :filename, class: "form-control" %>
  </div>
  
  <div class="actions">
    <% if @gfile.persisted? %>
      <%= f.submit "Update File" %>
    <% else %>
      <%= f.submit "Create File" %>  
    <% end %>
  </div>
<% end %>
