<p id="notice"><%= notice %></p>

<h1>Files</h1>

<table>
  <thead>
    <tr>
      <th style="min-width:100px">Name</th>
      <th style="min-width:200px">Description</th>
      <th style="min-width:100px">Members</th>
      <th style="min-width:100px">Tags</th>
      <td>Visibility</td>
      <th style="min-width:100px">Get file</th>
      <th style="min-width:200px">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @gfiles.each do |gfile| %>
      <tr>
        <td><%= gfile.gtitle %></td>
        <td><%= gfile.gdescription %></td>
        <td>
          <b><%= gfile.infohash.user.username %> (owner)</b> <br>
          <% gfile.infohash.infohash_users.each do |u| %> 
            <%= u.user.username %>
            <% if current_user == gfile.user%>
              <%= link_to "(delete)", [gfile.infohash, u] ,method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <br>
          <% end %>
          <% if current_user == gfile.user #owner %>
              <%= link_to "New member", new_infohash_infohash_user_path(gfile.infohash) %>
          <% end %>
        </td>
        <td>
          <% gfile.infohash.tags.each do |t| %> 
            <%= t.tagname %>
          <% end %>
        </td>
        <td><%= gfile.visibility.vtype %></td>
        <td><%= link_to "Download", gfile.filename.url %></td>
        
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Show', gfile, class: 'btn btn-default' %>
            <% if current_user == gfile.user %>
              <%= link_to 'Edit', edit_gfile_path(gfile), class: 'btn' %>
              <%= link_to 'Destroy', gfile, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
            <% end %>
          </div>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File', new_gfile_path %>
