<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @gfile.infohash.code %>
  
</p>
<p>
  <b>Permalink:</b> <%= instanceName+"/f/"+@gfile.infohash.code %>
</p>

<p>
  <b>Import link:</b> <%= link_to "/imports/doimport/"+instanceName+"/api/v1/gfiles/" + @gfile.id.to_s, "/imports/doimport/"+instanceName+"/api/v1/gfiles/" + @gfile.id.to_s %>
</p>

<p>
  <strong>Import path:</strong>
  <%= "/api/v1/gfiles/" + @gfile.id.to_s + ".json"%>
</p>

<p>
  <strong>Name:</strong>
  <%= @gfile.gtitle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gfile.gdescription %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to "Download", @gfile.filename.url %>
  <%#= @gfile.filename.url %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @gfile.infohash.user.username %>
</p>

<p>
  <strong>Members:</strong>
  <% @gfile.infohash.members.each do |u| %>
    <%= u.username %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_gfile_path(@gfile) %> |
<%= link_to 'Back', gfiles_path %>
