<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= "(*) Visibility" %><br />
    <%= f.select :visibility_id, options_for_select(Visibility.all.map{|p|[p.vtype, p.id]}) %>
  </div>
  
  <div class="field">
    <%= "(*) Fullname" %><br>
    <%= f.text_field :fullname %>
  </div>
  
  <div class="field">
    <%= "(*) Short Biography" %><br>
    <%= f.text_area :shortbio %>
  </div>
  
  <div class="field">
    <%= "(**) Citation name (format example, full name: João Arlindo Silva -> SILVA, J. A.)" %><br>
    <%= f.text_field :citation %>
  </div>
  
  <p>(*) Mandatory fields</p>
  <p>(**) If this citation name is already registered in the system (without a linked user),<br> 
  your profile will be automatically linked to it.</p>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
