<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if @profile.user %>
    <h3>Profile for <%= @profile.user.username %> <emph> <%= @profile.user.email %> </emph> </h3>
  <% else %>
    <h3>No user is linked to this profile</h3>
  <% end %>
  
  <h3>Citation: <emph><%= @profile.citation %></emph></h3>
  
  <div class="field">
    <%= "(*) Fullname" %><br>
    <%= f.text_field :fullname %>
  </div>

  <div class="field">
    <%= "(*) Short Biography" %><br>
    <%= f.text_area :shortbio %>
  </div>
  
  <div class="field">
    <%= "(*) Visibility" %><br />
    <%= f.select :visibility_id, options_for_select(Visibility.all.map{|p|[p.vtype, p.id]}, @profile.visibility_id) %>
  </div>

  <p>(*) Mandatory fields</p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
