<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Shortbio</th>
      <th>Citation</th>
      <th>Visibility</th>
      <th>Username</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.fullname %></td>
        <td><%= profile.shortbio %></td>
        <td><%= profile.citation %></td>
        <td><%= profile.visibility.vtype %></td>
        <% if profile.user %>
        <td><%= profile.user.username %></td>
        <td><%= profile.user.email %></td>
        <% end %>
        <td><%= link_to 'Show', profile %></td>
        
        <% if current_user == profile.user %>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
