<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @profile.fullname %>
</p>

<p>
  <strong>Shortbio:</strong>
  <%= @profile.shortbio %>
</p>

<p>
  <strong>Citation:</strong>
  <%= @profile.citation %>
</p>

<p>
  <strong>Username</strong>
  <% if @profile.user %>
    <%= @profile.user.username %>
  <% end %>
</p>

<p>
  <strong>Email</strong>
  <% if @profile.user %>
    <%= @profile.user.email %>
  <% end %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @profile.visibility.vtype %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', root_path %>
