<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @profile.fullname %>
</p>

<p>
  <strong>Shortbio:</strong>
  <%= @profile.shortbio %>
</p>

<p>
  <strong>Citation:</strong>
  <%= @profile.citation %>
</p>

<p>
  <strong>Username</strong>
  <% if @profile.user %>
    <%= @profile.user.username %>
  <% end %>
</p>

<p>
  <strong>Email</strong>
  <% if @profile.user %>
    <%= @profile.user.email %>
  <% end %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @profile.visibility.vtype %>
</p>

<p>
  <strong>Quota Usage</strong>
  <br>
  Using
  <% if @profile.quota_usage < 1 %>
    <%= (@profile.quota_usage*1024).round(2) %> KB 
  <% else %>
    <%= @profile.quota_usage.round(2) %> MB 
  <% end %>
  of <%= @profile.quota %> MB
  (<%= (@profile.quota_usage / @profile.quota).round(2) %>%)
</p>

<p>
  <strong>Positions:</strong>
  <br>
  <%= link_to "Add Position", new_profile_position_path(@profile) %>
</p>

<br>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', root_path %>
