<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @profile.fullname %>
</p>

<p>
  <strong>Shortbio:</strong>
  <%= @profile.shortbio %>
</p>

<p>
  <strong>Username</strong>
  <%= @profile.user.username %>
</p>

<p>
  <strong>Email</strong>
  <%= @profile.user.email %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
