<%= form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filter_pattern %><br>
    <%= f.text_field :filter_pattern %>
  </div>
  <div class="field">
    <%= f.label :infohash_id %><br>
    <%= f.text_field :infohash_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
