<p id="notice"><%= notice %></p>

<h1>Folders</h1>

<table>
  <thead>
    <tr>
      <th style="min-width:300px">General Information</th>
      <th style="min-width:200px">Folder Name</th>
      <th style="min-width:200px">Filter Pattern</th>
      <th style="min-width:200px">Folder Items</th>
      <th>Members</th>
      <th>Tags</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td>
          <%= folder.infohash.gdescription %><br><br>
          <i>Code: <%= folder.infohash.code %></i><br><br>
          <i>Visibility: <%= folder.visibility.vtype %></i>
        </td>
        <td>
          <i><%= folder.infohash.gtitle %></i><br>
        </td>
        <%
  def get_link(item)
    if    item.htype_id == Publication::HTYPE
      return link_to item.htype.name+": x"+item.gtitle, publication_path(item.publication)
    elsif item.htype_id == Gfile::HTYPE
      return link_to item.htype.name+": x"+item.gtitle, gfile_path(item.gfile)
    elsif item.htype_id == Project::HTYPE
      return link_to item.htype.name+": x"+item.gtitle, project_path(item.project)
    elsif item.htype_id == Post::HTYPE
      return link_to item.htype.name+": x"+item.gtitle, post_path(item.post)
    elsif item.htype_id == Reminder::HTYPE
      return link_to item.htype.name+": x"+item.gtitle, reminder_path(item.reminder)
    elsif item.htype_id == Weblink::HTYPE
      return link_to item.htype.name+": x"+item.gtitle, weblink_path(item.weblink)
    elsif item.htype_id == Folder::HTYPE
      return link_to "UNKOWN::"+item.htype.name+": x"+item.gtitle, folder_path(item.folder)
    else
      return item.htype.name+": xx"+item.gtitle
    end
  end
        %>
        <td>
          <i><%= folder.filter_pattern %></i><br>
            <% lhash = folder.filter_pattern.scan(/\B#\w+/) #scan(/#\S+/) %>
            <% lhash = lhash.uniq     # remove repetitions %>
            <%# hlist = Infohash.joins(:folder_infohashes).joins(:tags).where("folder_infohashes.folder_id = ? AND tags.tagname IN ( ? )", folder.id, lhash) %>
            <% hlist = Infohash.joins(:tags).where("tags.tagname IN ( ? )", lhash) %>
            
            <b><%= hlist.count %> Items</b><br>
            <% hlist.each do |i| %>
              <%= get_link(i) %><br>
            <% end %>
        </td>
        <td>
          <% folder.folder_infohashes.each do |fi| %>
          <b>
            <%= get_link(fi.infohash) %>
          </b>
            <% if (current_user == folder.user) %>
              <%= link_to "(delete)", [folder, fi] ,method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          <br>
          <% end %>
          <% if current_user == folder.user #owner %>
            <%= link_to "New item", new_folder_folder_infohash_path(folder) %>
          <% end %>
        </td>
        <td>
          <b><%= folder.infohash.user.username %> (owner)</b><br>
          <% folder.infohash.infohash_users.each do |u| %> 
            <%= u.user.username %>
            <% if current_user == folder.user and (current_user != u.user) %>
              <%= link_to "(delete)", [folder.infohash, u] ,method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <br>
          <% end %>
          <% if current_user == folder.user #owner %>
              <%= link_to "New member", new_infohash_infohash_user_path(folder.infohash) %>
          <% end %>
        </td>
        <td>
          <% folder.infohash.tags.each do |t| %> 
          <%= t.tagname %>
          <% end %>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Show', folder, class: 'btn btn-default' %>
            <% if current_user == folder.user %>
              <%= link_to 'Edit', edit_folder_path(folder), class: 'btn' %>
              <%= link_to 'Destroy', folder, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Folder', new_folder_path %>
