<%= form_for(@publication) do |f| %>

  <h2>General information</h2>
  <% if @infohash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infohash.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @infohash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :visibility %><br />
    <%= f.select :visibility_id, options_for_select(Visibility.all.map{|p|[p.vtype, p.id]}) %>
  </div>
  
  <div class="field">
    <%= f.label "General title" %><br>
    <%= f.text_field(:gtitle) %>
  </div>

  <div class="field">
    <%= f.label "General description (allows #hashtags, @user-refs, @group-refs and :resource-refs)" %><br>
    <%= f.text_area :gdescription %>
  </div>

  <h2>Publication information</h2>
  
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>(*) Mandatory fields</p>
  <p>(**)Mandatory only for journals, books, chapters, proceedings or inproceedings (conference papers)</p>
  
  <div class="field">
    <%= f.label "Publication Type (*)" %><br />
    <%= f.select :pubtype_id, options_for_select(Pubtype.all.map{|p|[p.name, p.id]}) %>
  </div>

  <p>You will be added as the first author, the others can be added later</p>
  
  <div class="field">
    <%= f.label "Title (*)" %><br>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label "Year (*)" %><br>
    <%= f.number_field :year %>
  </div>

  <div class="field">
    <%= f.label "Journal/Book/Collection Title (**)" %><br>
    <%= f.text_field :ctitle %>
  </div>
  
  <div class="field">
    <%= f.label "ISSN" %><br>
    <%= f.text_field :issn %>
  </div>
  
  <div class="field">
    <%= f.label "ISBN" %><br>
    <%= f.text_field :isbn %>
  </div>
  
  <div class="field">
    <%= f.label :editor %><br>
    <%= f.text_field :editor %>
  </div>
  
  <div class="field">
    <%= f.label :publisher %><br>
    <%= f.text_field :publisher %>
  </div>

  <div class="field">
    <%= f.label :organization %><br>
    <%= f.text_field :organization %>
  </div>
  
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :month %><br>
    <%= f.text_field :month %>
  </div>
  
  <div class="field">
    <%= f.label :volume %><br>
    <%= f.number_field :volume %>
  </div>

  <div class="field">
    <%= f.label "Number/Issue" %><br>
    <%= f.number_field :number %>
  </div>
  
  <div class="field">
    <%= f.label :series %><br>
    <%= f.text_field :series %>
  </div>
  
  <div class="field">
    <%= f.label "Initial Page" %><br>
    <%= f.number_field :page_begin %>
  </div>
  
  <div class="field">
    <%= f.label "Final Page" %><br>
    <%= f.number_field :page_end %>
  </div>
 
  <div class="field">
    <%= f.label :howpublished %><br>
    <%= f.text_field :howpublished %>
  </div> 

  <div class="field">
    <%= f.label :doi %><br>
    <%= f.text_field :doi %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :other %><br>
    <%= f.text_area :other %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
