<%= form_for(@publication) do |f| %>

  <% if @infohash.errors.any? or @publication.errors.any? %>
  <div id="error_explanation">
      <% error_list  = @infohash.errors.full_messages + @publication.errors.full_messages %>
      <h2><%= pluralize(error_list.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% error_list.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  </div>
  <% end %>


  <div class="field">
    <%= f.label :visibility %><br />
    <%= f.select :visibility_id, options_for_select(Visibility.all.map{|p|[p.vtype, p.id]}) %>
  </div>
  
  <div class="field">
    <%= f.label :group %><br />
    <%= f.select :group_id, options_for_select(Group.all.map{|p|[p.name, p.id]}) %>
  </div>


  <div class="field">
    <%= f.label "General title" %><br>
    <%= f.text_field :gtitle %>
  </div>

  <div class="field">
    <%= f.label "General description" %><br>
    <%= f.text_area :gdescription %>
  </div>

  <div class="field">
    <%= f.label :pubtype %><br />
    <%= f.select :pubtype_id, options_for_select(Pubtype.all.map{|p|[p.name, p.id]}) %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :authors %><br>
    <%= f.text_field :authors %>
  </div>
  
  <div class="field">
    <%= f.label :journal %><br>
    <%= f.text_field :journal %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :doi %><br>
    <%= f.text_field :doi %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :other %><br>
    <%= f.text_area :other %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
