<p id="notice"><%= notice %></p>

<h1>Publications</h1>

<table border="1">
  <thead>
    <tr>
      <th style="min-width:200px">General title</th>
      <th>Publication type</th>
      <th style="min-width:80px">ISSN</th>
      <th style="min-width:200px">Title</th>
      <th style="min-width:200px">Authors</th>
      <th style="min-width:50px">Year</th>
      <th>Members</th>
      <th>Tags</th>
      <th style="min-width:80px">Visibility</th>
      <th>Attachments</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.infohash.gtitle %>
        <br/><br/><i><%= "Last update:"+publication.updated_at.to_s %></i>
        </td>
        <td><%= publication.pubtype.name %></td>
        <td><%= publication.issn %></td>
        <td><%= publication.title %></td>
        <td style="width: 250px">
          <% publication.publication_profiles.order(:orderv).each do |pp| %>
          <b>
            <% if pp.profile %>
              <%= link_to pp.profile.citation, pp.profile %>
            <% else %>
              <%= pp.author %>
            <% end %>
          </b>
            <% if (current_user == publication.user) %>
              <%= link_to "(delete)", [publication, pp] ,method: :delete,  remote:true, data: { confirm: 'Are you sure?' } %>
            <% end %>
          <br>
          <% end %>
          <% if current_user == publication.user #owner %>
            <%= link_to "New author", new_publication_publication_profile_path(publication) %>
          <% end %>
        </td>
        <td><%= publication.year %></td>
        <td>
          <b><%= publication.infohash.user.username %> (owner)</b> <br>
          <% publication.infohash.infohash_users.each do |u| %> 
            <%= u.user.username %>
            <% if current_user == publication.user%>
              <%= link_to "(delete)", [publication.infohash, u] ,method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <br>
          <% end %>
          <% if current_user == publication.user #owner %>
              <%= link_to "New member", new_infohash_infohash_user_path(publication.infohash) %>
          <% end %>
        </td>
        <td>
          <% publication.infohash.tags.each do |t| %> 
            <%= t.tagname %>
          <% end %>
        </td>
        <td><%= publication.visibility.vtype %></td>

        <td>
          <% publication.infohash.attachments.each do |t| %> 
            <%= link_to t.name, t.infohash2 %>
            <%= link_to "(delete)", [publication.infohash, t] ,method: :delete,  data: { confirm: 'Are you sure?' } %>
          <br>
          <% end %>
          <%= link_to "New attachment", new_infohash_attachment_path(publication.infohash) %>
        </td>
        
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Show', publication, class: 'btn btn-default' %>
            <% if current_user == publication.user %>
              <%= link_to 'Edit', edit_publication_path(publication), class: 'btn' %>
              <%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %>
            <% end %>
          </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path, class: 'btn btn-default' %>
