<p id="notice"><%= notice %></p>

<h1>Listing Publications</h1>

<table>
  <thead>
    <tr>
      <th>Ptype</th>
      <th>Title</th>
      <th>Journal</th>
      <th>Year</th>
      <th>Doi</th>
      <th>Infohash</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.ptype %></td>
        <td><%= publication.title %></td>
        <td><%= publication.journal %></td>
        <td><%= publication.year %></td>
        <td><%= publication.doi %></td>
        <td><%= publication.infohash %></td>
        <td><%= link_to 'Show', publication %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %>
