<p id="notice"><%= notice %></p>

<h1>Publications</h1>

<table>
  <thead>
    <tr>
      <th>General title</th>
      <th>General description</th>
      <th>Publication type</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Journal</th>
      <th>Year</th>
      <th>Doi</th>
      <th>Other</th>
      <th>Keywords</th>
      <th>Infohash code</th>
      <th>Owner</th>
      <th>Members</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.infohash.gtitle %></td>
        <td><%= publication.infohash.gdescription %></td>
        <td><%= publication.pubtype.name %></td>
        <td><%= publication.title %></td>
        <td><%= publication.authors %></td>
        <td><%= publication.journal %></td>
        <td><%= publication.year %></td>
        <td><%= publication.doi %></td>
        <td><%= publication.other %></td>
        <td><%= publication.keywords %></td>
        <td><%= publication.infohash.code %> </td>
        <td><%= publication.infohash.user.username %> </td>
        <td>
          <% publication.infohash.infohash_users.each do |u| %> 
            <%= u.user.username %>
            <% if current_user == publication.user #owner %>
              <%= link_to "(delete)", [publication.infohash, u] ,method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <br>
          <% end %>
          <% if current_user == publication.user #owner %>
              <%= link_to "New member", new_infohash_infohash_user_path(publication.infohash) %>
          <% end %>
        </td>
        <td>
          <% publication.infohash.tags.each do |t| %> 
          <%= t.tagname %>
          <% end %>
        </td>
        <td><%= link_to 'Show', publication %></td>
        
        <% if current_user == publication.user %>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %>
