<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @publication.infohash.code %>
</p>

<p>
  <strong>Import path:</strong>
  <%= "/api/v1/publications/" + @publication.id.to_s + ".json"%>
</p>

<p>
  <strong>Publication Type:</strong>
  <%= @publication.pubtype.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @publication.year %>
</p>

<p>
  <strong>Journal/Book/Collection title:</strong>
  <%= @publication.ctitle %>
</p>

<p>
  <strong>ISSN:</strong>
  <%= @publication.issn %>
</p>

<p>
  <strong>ISBN:</strong>
  <%= @publication.isbn %>
</p>

<p>
  <strong>DOI:</strong>
  <%= @publication.doi %>
</p>

<p>
  <strong>Infohash code:</strong>
  <%= @publication.infohash.code %>
</p>

<p>
  <strong>Plain text:</strong>
  <%= plain_pub(@publication) %>
</p>

<p>
  <strong>Bibtex:</strong>
  <%= bibtex_pub(@publication) %>
</p>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
