<%= form_for(@reminder) do |f| %>
  <% if @reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

      <ul>
      <% @reminder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dtime %><br>
    <%= f.datetime_select :dtime %>
  </div>
  <div class="field">
    <%= f.label :infohash_id %><br>
    <%= f.text_field :infohash_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
