<%= form_for(@infohash) do |f| %>
  <% if @infohash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infohash.errors.count, "error") %> prohibited this infohash from being saved:</h2>

      <ul>
      <% @infohash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :gtitle %><br>
    <%= f.text_field :gtitle %>
  </div>
  
  <div class="field">
    <%= f.label :gdescription %><br>
    <%= f.text_area :gdescription %>
  </div>
  
  <div class="field">
    <%= f.label :visibility %><br />
    <%= f.select :visibility_id, options_for_select(Visibility.all.map{|p|[p.vtype, p.id]}) %>
  </div>
  
  <div class="field">
    <%= f.label :group %><br />
    <%= f.select :group_id, options_for_select(Group.all.map{|p|[p.name, p.id]}) %>
  </div>
  
  <div class="field">
    <%= f.label :htype %><br />
    <%= f.select :htype_id, options_for_select(Htype.all.map{|p|[p.name, p.id]}) %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
