<%= form_for(@infohash) do |f| %>
  <% if @infohash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infohash.errors.count, "error") %> prohibited this infohash from being saved:</h2>

      <ul>
      <% @infohash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :visibility_id %><br>
    <%= f.text_field :visibility_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.text_field :group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
