<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @infohash.code %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @infohash.visibility.vtype %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @infohash.user.username %>
</p>

<p>
  <strong><%= @infohash.htype.name %>:</strong>
  <%= link_to @infohash.gtitle, @infohash.specification %>
</p>

<p>
  <strong>Members:</strong>
  <% @infohash.infohash_users.each do |u| %> 
    <%= u.user.username %>
  <% end %>
</p>


<%= link_to 'Edit', edit_infohash_path(@infohash) %> |
<%= link_to 'Back', infohashes_path %>
