<%= form_for([@publication, @publication_profile]) do |f| %>
  <% if @publication_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication_profile.errors.count, "error") %> prohibited this publication_profile from being saved:</h2>

      <ul>
      <% @publication_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :profile %><br />
    <% plist = [["empty", 0]] %>
    <%= f.select :profile_id, options_for_select(plist + Profile.all.order(:citation).map{|p|[p.citation, p.id]}, 0) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
