<p id="notice"><%= notice %></p>

<h1>Listing Publication Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Publication</th>
      <th>Author</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publication_profiles.each do |publication_profile| %>
      <tr>
        <td><%= publication_profile.publication %></td>
        <td><%= publication_profile.author %></td>
        <td><%= publication_profile.profile %></td>
        <td><%= link_to 'Show', publication_profile %></td>
        <td><%= link_to 'Edit', edit_publication_profile_path(publication_profile) %></td>
        <td><%= link_to 'Destroy', publication_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication profile', new_publication_profile_path %>
