<p id="notice"><%= notice %></p>

<p>
  <strong>Publication:</strong>
  <%= @publication_profile.publication %>
</p>

<p>
  <strong>Author:</strong>
  <%= @publication_profile.author %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @publication_profile.profile %>
</p>

<%= link_to 'Edit', edit_publication_profile_path(@publication_profile) %> |
<%= link_to 'Back', publication_profiles_path %>
