<p id="notice"><%= notice %></p>

<h1>Listing Groupmembers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groupmembers.each do |groupmember| %>
      <tr>
        <td><%= groupmember.user %></td>
        <td><%= groupmember.group %></td>
        <td><%= link_to 'Show', groupmember %></td>
        <td><%= link_to 'Edit', edit_groupmember_path(groupmember) %></td>
        <td><%= link_to 'Destroy', groupmember, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Groupmember', new_groupmember_path %>
