<p id="notice"><%= notice %></p>

<p>
  <strong>Infohash:</strong>
  <%= @infohash_member.infohash %>
</p>

<p>
  <strong>Member:</strong>
  <%= @infohash_member.member %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @infohash_member.identification %>
</p>

<%= link_to 'Edit', edit_infohash_member_path(@infohash_member) %> |
<%= link_to 'Back', infohash_members_path %>
