<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Description</th>
      <th>Group Members</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.title %></td>
        <td><%= group.description %></td>
        <td>
          <%= link_to group.user.username, group.user.profile %> (owner) <br>
          <% group.group_users.each do |gu| %>
            <%= link_to gu.user.username, gu.user.profile %>
            <% if current_user == group.user%>
              <%= link_to "(delete)", [group, gu] ,method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <br>
          <% end %>
          <% if current_user == group.user #owner %>
              <%= link_to "New member", new_group_group_user_path(group) %>
          <% end %>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Show', group , class: 'btn btn-default' %>
            <% if current_user == group.user %>
              <%= link_to 'Edit', edit_group_path(group), class: 'btn'  %>
              <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn'  %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
