<p id="notice"><%= notice %></p>

<h1>Listing Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Group Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.title %></td>
        <td><%= group.description %></td>
        <td><%= group.user.username %></td>
        <td>
          <% group.users.each do |u| %>
          <%= u.email+" " %>
          <% end %>
        </td>
        <td><%= link_to 'Show', group %></td>
        
        <% if current_user == group.user %>
        <td>
          <%= link_to 'Edit', edit_group_path(group) %>
        </td>
        <td>
          <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <% end %>
          
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
