<p id="notice"><%= notice %></p>

<p>
  <strong>Infohash1:</strong>
  <%= @inforelation.infohash1 %>
</p>

<p>
  <strong>Infohash2:</strong>
  <%= @inforelation.infohash2 %>
</p>

<%= link_to 'Edit', edit_inforelation_path(@inforelation) %> |
<%= link_to 'Back', inforelations_path %>
