<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attachment.name %>
</p>

<p>
  <strong>Infohash:</strong>
  <%= @attachment.infohash %>
</p>

<p>
  <strong>Infohash:</strong>
  <%= @attachment.infohash %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
