<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @news.user %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @news.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @news.message %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_path %>
