  <b>Url</b> (type Enter to load JSON data)<div class="div_loading" style="visibility: hidden;">loading...</div>
  <div class="div_download" style="visibility: hidden;">downloading external file...</div>
  <input type="text" class="url_field" size=100 value="<%=@import.url%>"></input>
 <!-- https://myrese-imcoelho.c9users.io/api/v1/publications/1.json?username=igormcoelho -->
<%= form_for(@import) do |f| %>
  
  <% if @import.infohash && @import.infohash.specification && @import.infohash.specification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import.infohash.specification.errors.count, "error") %> prohibited this import from being saved:</h2>

      <ul>
      <% @import.infohash.specification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <!-- using this field as payload for file data -->
    <%= f.hidden_field :url, :class => 'file_field' %>
  </div>
  
  <div class="field">
    <%= f.label "JSON Data" %><br>
    <%= f.text_area :jsondata, :class => 'jsondata_area' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>

// http://www.henryalgus.com/reading-binary-files-using-jquery-ajax/
function fetchBlob(uri, callback) {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', uri, true);
  xhr.responseType = 'arraybuffer';

  xhr.onload = function(e) {
    if (this.status == 200) {
      var blob = this.response;
      if (callback) {
        callback(blob);
      }
    }
  };
  xhr.send();
};

  $(".url_field").keyup(function(e){ 
    var code = e.which; // recommended to use e.which, it's normalized across browsers
    //if(code==13)e.preventDefault();
    //if(code==32||code==13||code==188||code==186){
    if(code==13){
        //$(".jsondata_area").val($('.url_field').val());
        $('.div_loading').css("visibility","visible");
        var fullurl = $('.url_field').val();
        
        $.get( fullurl, function( data ) {
           console.log(data);
           console.log(data.htype_id);
           if( data.htype_id == 2) {
              $('.div_download').html("downloading file... ("+data.filename_file_size+" bytes)");   
              $('.div_download').css("visibility","visible");
               
              var link = document.createElement('a');
              link.setAttribute('href', fullurl);
              var filelink = link.protocol+"//"+link.host+"/"+data.url;
              console.log(filelink);

              fetchBlob(filelink, function(blob) {
                // Array buffer to Base64:
                var str = btoa(String.fromCharCode.apply(null, new Uint8Array(blob)));
                $( ".file_field" ).val(btoa(str));
                $( ".jsondata_area" ).val( JSON.stringify(data) );
                $('.div_download').html("file attached successfully! ("+data.filename_file_size+" bytes)");
                //console.log(str);
              });
              
              /*               
               $.get( filelink, function( filedata ) {
                 console.log("GOT FILEDATA!");
                 console.log("computing x");
                 var x = String.fromCharCode.apply(null, new Uint8Array(filedata));
                 console.log("x computed");
                 $( ".file_field" ).val(btoa(x));
                $( ".jsondata_area" ).val( JSON.stringify(data) );
                $('.div_download').html("file attached successfully! ("+data.filename_file_size+" bytes)");
               }).fail(function() {
                $( ".div_download" ).html( "Failed to download resource." );
              }).always(function(){
                  //$('.div_download').css("visibility","hidden");   
              })
              */
              
           }

        }).fail(function() {
          $( ".jsondata_area" ).val( "Failed to load resource" );
           //alert( "error loading resource." );
        }).always(function(){
          $('.div_loading').css("visibility","hidden");   
        })
        e.preventDefault();
    } // missing closing if brace
});
</script>