<p id="notice"><%= notice %></p>

<p>
  <strong>General title:</strong>
  <%= @project.infohash.gtitle %>
</p>

<p>
  <strong>General description:</strong>
  <%= @project.infohash.gdescription %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @project.abstract %>
</p>

<p>
  <strong>Project Manager:</strong>
  <% if @project.profile %>
    <%= link_to @project.profile.citation, @project.profile %>
  <% else %>
    No profile was set as Project Manager.
  <% end %>
</p>


<p>
  <strong>Visibility:</strong>
  <%= @project.infohash.visibility.vtype %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
