<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tagname %><br>
    <%= f.text_field :tagname %>
  </div>
  <div class="field">
    <%= f.label :infohash_id %><br>
    <%= f.text_field :infohash_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
