<p id="notice"><%= notice %></p>

<h1>Tagged Items</h1>

<table>
  <thead>
    <tr>
      <th>Usertag?</th>
      <th>Tagname</th>
      <th>Infohash</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td> 
          <% if tag.user %>
            <%= tag.user.username %>
          <% else %>
            No user
          <% end %>
        </td>
        <td><%= tag.tagname %></td>
        <td><%= tag.infohash.htype.name + ": " + tag.infohash.gtitle %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path %>
