<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tag.user %>
</p>

<p>
  <strong>Tagname:</strong>
  <%= @tag.tagname %>
</p>

<p>
  <strong>Infohash:</strong>
  <%= @tag.infohash %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
