<p id="notice"><%= notice %></p>

<h1>Listing Visibilities</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visibilities.each do |visibility| %>
      <tr>
        <td><%= visibility.type %></td>
        <td><%= link_to 'Show', visibility %></td>
        <td><%= link_to 'Edit', edit_visibility_path(visibility) %></td>
        <td><%= link_to 'Destroy', visibility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visibility', new_visibility_path %>
