<p id="notice"><%= notice %></p>

<h1>Welcome!</h1>

<% if user_signed_in? %>
    Welcome <% c = User.find(current_user) %>
    <%= c.email %><br>
    <b>Publications:</b><br>
    <% @publications.each do |p| %>
        <%= "#" + p.id.to_s + " t=" + p.pubtype.name %>
        <%= p.title %><br>
    <% end %>

    <b>Files:</b><br>
    <% @gfiles.each do |f| %>
        <%= "#" + f.id.to_s %>
        <%= f.infohash.gtitle %> <%= link_to "Download", f.filename.url %><br>
    <% end %>
    
<% else %>
   <%= "No authenticated user!" %>
<% end %>

