<p id="notice"><%= notice %></p>

<h1>Listing Pkeywords</h1>

<table>
  <thead>
    <tr>
      <th>Publication</th>
      <th>Infohash</th>
      <th>Keyword</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pkeywords.each do |pkeyword| %>
      <tr>
        <td><%= pkeyword.publication %></td>
        <td><%= pkeyword.infohash %></td>
        <td><%= pkeyword.keyword %></td>
        <td><%= link_to 'Show', pkeyword %></td>
        <td><%= link_to 'Edit', edit_pkeyword_path(pkeyword) %></td>
        <td><%= link_to 'Destroy', pkeyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pkeyword', new_pkeyword_path %>
