<!DOCTYPE html>
<html>
<head>
  <title>Myrese</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <center>
    <h2>Myrese -- A distributed research management system</h2>
  </center>

  <%= link_to "config visibility values", visibilities_path %>
  <%= link_to "config groups", groups_path %>
  
  <%= link_to "infohashes", infohashes_path %>
  <%= link_to "publications", publications_path %>
  <%= link_to "projects", projects_path %>
  <%= link_to "tags", tags_path %>
  <%= link_to "posts", posts_path %>
  <%= link_to "profiles", profiles_path %>
  <%= link_to "evaluations", evaluations_path %>
  <%= link_to "evaluations qualis plugin", qualis_evaluate_journals_path %>
  
  <hr>
  
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>

  <%= yield %>

  <hr>

  <center>
    Copyleft 2016 - AGPLv3 - <%= link_to "Contribute", "https://github.com/igormcoelho/myrese", :target => '_blank' %>
  </center>
</body>
</html>
