<%= form_for([@infohash, @infohash.infohash_users.build]) do |f| %>
  <% if @infohash_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infohash_user.errors.count, "error") %> prohibited this infohash_user from being saved:</h2>

      <ul>
      <% @infohash_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
